* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #ff0000;
}

.logo {
    width: 512px;
    height: auto;
}

.avatar-svg {
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    width: 48px;
    height: 48px;
    display: none;
}

.avatar-svg img {
    width: 100%;
    height: 100%;
}

.button, .button button {
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    font-weight: 700;
    cursor: pointer;
    width: 200px;
    height: 40px;
}

.hide {
    display: none;
}

.active {
    display: block;
}

.fly-in {
    animation: fly 3s;
}

@keyframes fly {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(-100vh);
    }
}

@media only screen and (max-width: 768px) {
    .logo {
        width: 256px;
    }

    @keyframes fly {
        0% {
            transform: translateY(-100vh);
        }

        100% {
            transform: translateY(100vh);
        }
    }
}
